<%= link_to('Add a new movie', new_admin_movie_path, class: 'btn btn-info') %>
<hr>
<table class="table">
  <tr>
    <td>Title</td>
    <td>Describe</td>
    <td width="200">Actions</td>
  </tr>
  <% if @movies.empty? %>
  <tr>
    <td colspan="3">No Data!</td>
  </tr>
  <% end %>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.describe %></td>
      <td>
        <%= link_to('Edit', edit_admin_movie_path(movie), class: 'btn btn-default') %>
        <%= link_to('Delete', admin_movie_path(movie), method: :delete, class: 'btn btn-danger') %>
      </td>
    </tr>
  <% end %>
</table>