<%= link_to('Add a new movie', new_admin_movie_path) %>

<table border="1" width="100%">
  <tr>
    <td>Title</td>
    <td>Describe</td>
    <td>Actions</td>
  </tr>
  <% if @movies.empty? %>
  <tr>
    <td colspan="3">No Data!</td>
  </tr>
  <% end %>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.describe %></td>
      <td>
        <%= link_to('Delete', admin_movie_path(movie), method: :delete) %>
        <%= link_to('Edit', edit_admin_movie_path(movie)) %>
      </td>
    </tr>
  <% end %>
</table>